# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
static/
media/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/
.venv/

# IDE-specific files
.idea/
.vscode/

# Temporary files
*.bak